streamlit
google-auth
google-auth-oauthlib
google-auth-httplib2
requests
google-generativeai
streamlit
google-generativeai
datetime
google.generativeai as genai
firebase_admin
firebase_admin import credentials, firestore
PIL
